{% load static %}
<head>
    <meta charset="utf-8" />
    <title>소비자 물가 지수</title>

    <script src="../../../static/jquery.min.js"></script>
</head>

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<body>

    <div id="title">
        <h1>소비자 물가 지수</h1>
    </div>

    <div id="chart">
        {{ plot_div|safe }}
    </div>

</body>

<script>

/*
    function getChart(url) {
        $.ajax({
            type: 'get',
            url : url,
            async: true,
            dataType : 'json',
            success: function(result){
                $('#chart').html( result.plot_div );
            },
            error: function(request, status, error) {
                console.log(error);
            }
        });
    };
*/

    async function getChart(url) {
      const response = await fetch(url);
      const result = await response.json();
      $('#chart').html( result.plot_div );
      /*document.querySelector("#chart").innerHTML = result.plot_div ; */
    };

    setTimeout( () => { setInterval(getChart, 15000, "/consumer/chart/1") }, 0) ;
    setTimeout( () => { setInterval(getChart, 15000, "/consumer/chart/2") }, 3000) ;
    setTimeout( () => { setInterval(getChart, 15000, "/consumer/chart/3") }, 6000) ;
    setTimeout( () => { setInterval(getChart, 15000, "/consumer/chart/4") }, 9000) ;
    setTimeout( () => { setInterval(getChart, 15000, "/consumer/chart/5") }, 12000) ;


</script>

