streamlit~=1.39.0
google-cloud-bigquery
google-auth
db-dtypes
streamlit_plotly_events
plotly_express
dash~=2.18.1
plotly~=5.24.1
pandas~=2.2.3
dash_ag_grid~=31.2.0
numpy~=2.0.2
Django~=4.2.16
matplotlib~=3.9.2
djangorestframework~=3.15.2
altair~=5.4.1
google~=3.0.0
requests~=2.32.3
xmltodict~=0.14.2
SQLAlchemy~=2.0.36

