.dropdown-dark {
    width:300px;
    margin: auto;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.dropdown-dark .Select-value-label {
    color:yellow !important;
}

.dropdown-dark .Select-control {
   background-color: rgb(25, 25, 25) !important;
   text-align:center;
}

.dropdown-dark .Select-menu-outer {
     background-color: rgb(25, 25, 25);
     color: white;
     text-align:start;
}